<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu name="topmenu">
    <category title="Nyheter">
        <element href="http://www.example.com/test">Test</element>
    </category>
    <challengetop href="">
        <image src=""/>
        <maintext></maintext>
        <subtext></subtext>
    </challengetop>
</menu>
